# RAWG API KEY
RAWG_API_KEY=

# GOOGLE CLOUD PLATFORM SERVICE ACCOUNT KEY
GOOGLE_APPLICATION_CREDENTIALS=/path/to/key.json

# GOOGLE CLOUD PLATFORM PROJECT ID
GCP_PROJECT_ID=

# GOOGLE CLOUD STORAGE
GCS_BUCKET=
GCS_RAW_PREFIX=
GCS_PROCESSED_PREFIX=

# BIGQUERY
BQ_LOCATION=
BQ_DATASET_RAW_PREFIX=
BQ_DATASET_STAGING_PREFIX=
BQ_DATASET_MARTS_PREFIX=

# KESTRA
KESTRA_USERNAME=
KESTRA_PASSWORD=
KESTRA_POSTGRES_DB=
KESTRA_POSTGRES_USER=
KESTRA_POSTGRES_PASSWORD=